{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
   <title>CafeApp</title>
   <link rel="icon" type="image/x-icon" href="/media/icon.png">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>

<body>
   <div>
      <div class="nav">
         <div style="display: flex;
               align-items: center;
               gap: 10px;">
            <a href="{% url 'info' %}"><img style="height: 60px;" src="{% static 'images/icon.png'%}"></a>
            <form id="search-form" method="GET" action="{% url 'search_results' %}">
               <input class="search-bar" type="text" name="query">
               <input class="search-button" type="submit" value="⌕">
            </form>
         </div>
         <div style="display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;">
            <a style="background-color: #3D348B;" class="nav-link" href="{% url 'index' %}">ОСНОВНЕ</a>
            <a style="background-color: #F7B801;" class="nav-link" href="{% url 'desserts' %}">ДЕСЕРТИ</a>
            <a style="background-color: #a7c957;" class="nav-link" href="{% url 'drinks' %}">НАПОЇ</a>
            <a style="background-color: #F35B04;" class="nav-link" href="{% url 'cocktails' %}">КОКТЕЙЛІ</a>
         </div>


      </div>
   </div>

   <div class="info">
      <div style="display: flex; flex-direction: column; justify-content: space-between;">
         <div style="margin-top: 0;" class="info-category">Адреса</div>
         Київ, вул. Грінченка Бориса, 4А
         <div class="info-category">Робочі години</div>
         Пн-Пт12:00 — 22:00 <br>
         Сб-Нд11:00 — 22:00
         <div class="info-category">Бронювання</div>
         +380 97 57 95 651 <br>
         +380 97 57 95 651 <br>
         +380 97 57 95 651
         
      </div>
      <img src="{% static 'images/cafe_photo.png'%}" alt="Фото 1">
      
      
   </div>
</body>

</html>